<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h2>주식 검색</h2>

    <input type="text" id="date" placeholder="검색어 입력">
    <button id="searchBtn">검색</button>

    <ul id="result"></ul>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src="static/js/index.js"></script>
</body>
    <!-- JS 파일 연결 -->
</html>