<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script>
      google.charts.load('current', {'packages':['corechart']});
    </script>
    <title>Document</title>
</head>
<body>
    <h2>주식 검색</h2>

    <input type="text" id="date" placeholder="검색어 입력">
    <input type="date" id="start" placeholder="시작일 입력">
    <input type="date" id="end" placeholder="끝일 입력">
    <button id="searchBtn">검색</button>

    <!-- 결과를 표시할 테이블 -->
    <table id="resultTable" border="1" style="border-collapse: collapse; margin-top: 20px;">
        <thead>
            <tr>
                <th>날짜</th>
                <th>시가</th>
                <th>고가</th>
                <th>저가</th>
                <th>종가</th>
                <th>거래량</th>
                <th>거래대금</th>
                <th>등락률</th>
            </tr>
        </thead>
        <tbody id="resultBody">
        </tbody>
    </table>

    <h1>거래량</h1>
    <!-- 구글 차트가 그려질 영역 -->
    <div id="chart_div" style="width: 900px; height: 500px; margin-top: 20px;"></div>

    <h1>등락률</h1>
    <div id="chart_div1" style="width: 900px; height: 500px; margin-top: 20px;"></div>

    <h1>종가예측</h1>
    <input type="date" id="start1" placeholder="시작일 입력">
    <input type="date" id="end1" placeholder="끝일 입력">
    <input type="text" id="search" placeholder="종목 입력">
    <button id="searchBtn1">검색</button>

    <div id="resultbox">
        <p><b>종가:</b> <span id="resultTicker"></span></p>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src="static/js/index.js"></script>
</body>
    <!-- JS 파일 연결 -->
</html>